header{
	
	padding-left: 9%;
}
footer{
	padding: 5% 10% 5% 10%;
}
a{
	
	text-decoration: none;
	margin-left:10px;
	text-align: left;
	font-size: 12px;
	color: gray;
}
h1{
	font-size: 48px;
	font-family: open sans;
}
p{
	font-size:12px;
}
.imagen{
	width: 50%;
}

#grey{
	background-color: grey;
	color:white;
	height: auto;
	margin: 0 auto;
	padding:5% 10% 5% 10%;

}
.cuadro-get{
	background-color: #A1A1A1;
	height: 250px;
	width: 100%;
	text-align: center;
	border-radius: 10px;
	padding-top: 20px;
	margin: 0 auto;
}
.blanco{
	height: 30px;
	width: 70%;
	color:grey;
	background-color: white;
    margin: 0 auto;
    margin-top:10px;
}
.blue{
	height: 30px;
	width: 70%;
	color:white;
	background-color: #18E2DB;
    margin: 0 auto;
    margin-top:10px;
    padding-top: 7px;
}
span{
	color: #031DC4;
}
.parra{
	color: grey;
}
@media(max-width:375px){
	.col-6{
		width: 50%;
	}
	.col-7{
		width: 100%;
	}
	.col-5{
		width: 100%;
	}
}
@media(min-width:376px) and (max-width: 667px){
	
}
@media(min-width:667px) and (max-width: 1024px){
	
}
@media(min-width:1024px){
	
}